$colorDark: #333333;
$colorScrol: #E5E5E5;
$colorScrolDip: #BDBDBD;


$colorGray: #828282;
$colorLidhtGray: #f2f2f2;
$backgroundColor: #ffffff;
$backgroundColorFooter: #f2f2f2;
$colorBtn: #e5261e;
$colorBtnHover: #cc221b;
$colorLink: #1f4766;

$widthSite: 1140px;
$widthSiteSml: 736px;
$maxWidth: 1180px;
$maxWidthChannel: 1196px;
$gapGrid: 20px;
$contentCol4: ($widthSite - 2 * $gapGrid) / 3;
